{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a mi Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
</head>
<body>
    <h1>Bienvenidos a mi Blog</h1>
    {% block contenido %} {% endblock %}
</body>
</html>
